# 03: Perform Data Cleaning
This notebook strips whitespace, drops redundant features, handles missing values, removes duplicates and impossible records.

## 3.1: Import Library

In [1]:
import pandas as pd
pd.set_option("display.max_colwidth", None)

## 3.2: Load CSV File

In [2]:
df = pd.read_csv('../data/processed/UNSW-NB15.csv', low_memory=False)

## 3.3: Remove Redundant Features

In [ ]:
features_to_drop = [
    'srcip',
    'dstip',
    'sport',
    'dsport', #
    'Stime',
    'Ltime',
    'tcprtt',
    'stcpb',
    'dtcpb'
]

## 3.4: Strip Whitespace

In [5]:
# Strip whitespace in column headers
df.columns = df.columns.str.strip()
# Strip whitespace in string features
columns = df.select_dtypes(include=['object', 'string']).columns
df[columns] = df[columns].apply(lambda x: x.str.strip())

In [6]:
# Check if whitespace in 'attack_cat' column has been removed
df["attack_cat"].value_counts()

attack_cat
Generic           215481
Exploits           44525
Fuzzers            24246
DoS                16353
Reconnaissance     13987
Analysis            2677
Backdoor            1795
Shellcode           1511
Backdoors            534
Worms                174
Name: count, dtype: int64

In [7]:
df.head()

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,0,3,7,1,3,1,1,1,NaN,0
1,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,NaN,0
2,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,NaN,0
3,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,NaN,0
4,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,NaN,0